
.subtitle {
    font-weight: bold;
}

header {
    padding: 0 14px;
}

.contact-mobile {
    display: none;
    background-color: #da6b64;
}

.contact-mobile > a > img {
    width: 20px;   
}

.contact-mobile > a > p {
    color: #fff;
}

.contact {
    display: none;
}

@media all and (max-width: 769px) {

    header {
        padding-right: 0;
    }
    .logo {
        display: none;       
    }    

    .logo-mobile > img {
        width: 90px;
    }

    .subtitle > p {
        font-size: 10px;
    }

    .title {
        height: 62px;
    }


    .contact-mobile {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0px;
        padding: 9px 11px;
        font-size: 12px;
    }
}


@media all and (min-width: 770px) {
    .title {
        padding: 20px 0;
    }


    .logo {
        display: inline-block;
        vertical-align: bottom;
        width: 128px;
    }

    .logo > img {
        width: 128px;
    }
    

    .logo-mobile {
        display: none;
    }

    .subtitle > p {
        font-size: 12px;
    }

    .contact {
        display: inline-block;
        cursor: pointer;    
        position: absolute; right: 10px; top: 16px;
        border: 1px solid #da6b64;
        background-color: #da6b64;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 11px 40px;
        opacity: 0.8;
        width: 300px;
        text-align: center;
    }

    .contact:hover {
        opacity: 1.0;
    }

    .contact > a {
        font-size: 12px;
        text-decoration: none;
        color: white;
    }
}


@media all and (min-width: 1190px) {


    .title {
        padding: 20px 0;
    }
    .logo > img  {
        width :128px;
    }

    .subtitle > p {
        font-size: 14px;
    }

    .contact {
        display: inline-block;
        cursor: pointer;    
        position: absolute; right: 10px; top: 16px;
        border: 1px solid #da6b64;
        background-color: #da6b64;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 11px 40px;
        opacity: 0.8;
        width: 350px;
        text-align: center;
    }

    .contact:hover {
        opacity: 1.0;
    }

    .contact > a {
        font-size: 14px;
        text-decoration: none;
        color: white;
    }
}
}
